/utilities/tests/LEMS_NML2_Ex9_FN_brian2.py
/utilities/tests/TestProject/TestProject.ncx.bak
/utilities/tests/test_octave.dat
/utilities/tests/x86_64

/utilities/tests/*.mod
/utilities/tests/*.dat
/utilities/tests/*nrn.py
/utilities/tests/*brian.py



/utilities/AllTests.jpg
/utilities/github.info
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# vim/emacs
*~
*flymake.py
*flycheck*
*#*


# OSB Test specific
utilities/local_test

.venv
/utilities/tests/LEMS_2007One.py
/utilities/tests/LEMS_2007One.py_main.json
/utilities/tests/RS.cell.json
/utilities/tests/RS_Iext.input.json
/utilities/tests/RS_Iext_inputdefinition.py
/utilities/tests/RS_celldefinition.py
/utilities/tests/exIzh.dat0
/utilities/tests/LEMS_2007One_pynn.py
/utilities/tests/LEMS_2007One_pynn.py_main.json
/docx
/utilities/tests/LEMS_NML2_Ex9_FN_netpyne.py
/utilities/tests/LEMS_NML2_Ex9_FN_netpyne.py_main.json
/utilities/tests/fn1.cell.json
/utilities/tests/fn1_celldefinition.py
/utilities/tests/LEMS_2007One_netpyne.py
/utilities/tests/LEMS_2007One_netpyne.py_main.json
/utilities/tests/NET_2007Onenet.nml
/utilities/tests/NET_NML2_Ex9_FNnet.nml
/utilities/tests/NET_2007One.net.nml


/utilities/tests/TestProject/generated*
/utilities/tests/TestProject/simulations
/utilities/tests/lems/simp.dat
/utilities/coreprojects
/utilities/tests/LEMS_NML2_Ex5_DetCell_moose.py
/utilities/tests/LEMS_NML2_Ex5_DetCell_moose.py_main.json
/utilities/tests/hhcell.cell.json
/utilities/tests/pulseGen1.input.json
/testenv.sh
*py.class
*_nrn.py
/utilities/tests/spikes/*.spikes
report*.txt
/utilities/tests/spikes/*.mod
/utilities/tests/spikes/*.dat
/utilities/tests/spikes/x86_64
/xenial_test.sh
/nestinstall
/getmoose
/envpy*
