name: Continuous builds

on:
  push:
    branches: [ master, development, test_gha ]
  pull_request:
    branches: [ master, development ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
        engine: [ Brian2, NEST, PyNEST, NEURON, PyNEURON, PyNN, PyNN_NEURON, PyNN_Nest, PyNN_NeuroML, NetPyNE, PyLEMS, PyLEMS_NeuroML2, jLEMS, jNeuroML, jNeuroML_Brian2, jNeuroML_NEURON, jNeuroML_NetPyNE, jNeuroML_PyNN_NEURON, jNeuroML_validate, jNeuroML_validatev1, Py_neuroConstruct, pyNeuroML]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python  ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version:  ${{ matrix.python-version }}
    - name: Install OMV
      run: |
        pip install .
        pip install scipy sympy matplotlib cython pandas==1.1.5
        #sudo apt install octave
    - name: Run OMV tests on engine ${{ matrix.engine }}
      run: |
        omv all -V --engine=${{ matrix.engine }}
    - name: OMV final version info
      run: |
        omv list -V # list installed engines  [jNeuroML, Brian2, NEST, jNeuroML_NetPyNE]
